* {
    margin: 0;
    padding: 0;
  }

body{
    background: linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
      ), url(../imgs/koreavillage.jpg) no-repeat center center fixed;
}

.containerIndex{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-top: 200px;
}

label{
    color: white;
}

#signup{
    margin-top: 20px;
}