* {
    margin: 0;
    padding: 0;
  }

  /* Set body and font family */

  body{
    background: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Source Serif 4', serif;
  }

  .profileAvatar{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }

main{
    background: black;
    color: white;
    min-height: 95vh;
}

.containerNav{
    padding: 20px 20px;
    background: rgb(0,33,255);
background: linear-gradient(90deg, rgba(0,33,255,1) 0%, rgba(253,29,29,1) 52%, rgba(255,255,255,1) 100%);
    border-bottom: 5px solid black;
}

.navigation{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
    background-color: rgba(255, 255, 255, 1);
    background-image: repeating-linear-gradient(145deg, transparent, transparent 10px, rgba(194, 194, 194, 1) 10px, rgba(194, 194, 194, 1) 20px );    padding: 15px; 
   text-align: center;
   text-decoration: none;
   color: black;
   border-radius: 10px;
   margin: 10px;
 }

.goToSection{
   color: black;
   background: white;
   border: 2px solid black;
   text-decoration: none;
   padding: 15px; 
   text-align: center;
   border-radius: 10px;
   margin: 10px;
}

.goToSection:hover{
  text-decoration: solid;
  font-weight: bold;
  background-color: #007604;
  transition: 0.3s;
  color: white;
}
.hangeulh2{
    text-align: center;
}

.hangeulDiv{
    background: lightgoldenrodyellow;
    padding: 5%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    height: ;
}

.hangeul{
    width: 100%;
    color: black;
    text-align: center;
    background: lightgoldenrodyellow;
}

.left, .right{
    font-size: 45px;
    position: relative;
    top: 50%;
    cursor: pointer;
    width: auto;
    padding: 20px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
    border-radius: 15px;
  }


  
.hangeulRev{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hangeulTest{
    color: black;
    margin-left: 10px;
    background: grey;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    text-decoration: none;
}

.hangeulTest:hover{
    background-color: azure;
    cursor: pointer;
}

.centerButtons{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spaceBtn{
  margin-top: 20px;
}

.hide{
    display: none;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,1); /* Black background with opacity */
    color: white;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  }

  .cursorPointer {
    cursor: pointer;
  }


  .headerItemContainer {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;
    position: relative;
  }

 /* .headerItemContainer:hover{
    cursor: pointer;
 } */

 .navUsername {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bold;
 }

 .caret {
    font-size: 12px;
 }


 .navModalDropdown {
    position: absolute;
    background-color: black;
    color: white;
    top: 40px;
    padding: 24px 24px;
    border-radius: 5px;
 }

 .dropdownUl{
    list-style: none;
    padding: 0;
    margin: 0;
 }

 .flipArrow{
    /* flip vertically */
    transform: rotate(180deg);
 }

 .navBtn {
    display: flex;
    align-items: center;
    gap: 4px;
 }
 
.memorizedUL{
margin: 2%;
display: flex;
justify-content: center;
flex-wrap: wrap;

}

.memorizedList{
  padding: 1%;
  width: 25%;
  list-style: none;
}

.testBtn{
  margin: 2%;
  color: black;
  text-decoration: none;
  background: orange;
  border-radius: 10px;
  padding: 10px;
}

.testBtn:hover{
  background-color: rgb(121, 32, 2);
  color: black;
  cursor: pointer;
}

.btnSelected{
  color: white;
  border: 3px solid black;
  background-color: rgb(121, 32, 2);
}

.answers{
  background-color: azure;
  border-radius: 25px;
  width: 35%;
  color: black;
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: auto;
}

.answersList{
  margin: 1%;
  list-style: none;
}

.choose{
  margin-bottom: 20px;
}

/* sections css */
.sectionsBtn {
  appearance: none;
  background-color: #0d24fa;
  color: white;
  border-width: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  border-radius: 15px;
}

.sectionsBtn:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #284feb;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
  border-radius: 15px;
}

.sectionsBtn:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.sectionsBtn:after {
  background-color: #FFFFFF;
}

.sectionsBtn span {
  z-index: 1;
  position: relative;
}