* {
    margin: 0;
    padding: 0;
  }

main{
    background: linear-gradient(
        rgba(0, 0, 0, 0.75), 
        rgba(0, 0, 0, 0.75)
      ), url(../imgs/koreacastle.jpg) no-repeat center center fixed;
      
    min-height: 100vh;
    color: white;
}

.containerNav{
    height: 50px;
    background: grey;
}

.navigation{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
    background-color: rgba(244, 164, 96, 0.50);
    padding: 15px; 
   text-align: center;
   text-decoration: none;
   color: black;
 }

.goToSection{
   color: black;
   background: sandybrown;
   padding: 15px; 
   text-align: center;
}

.hangeulh2{
    text-align: center;
}

.hangeulDiv{
    background: lightgoldenrodyellow;
    padding: 5%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
}

.hangeul{
    width: 80%;
    color: black;
    text-align: center;
    background: lightgoldenrodyellow;
}

.left, .right{
    font-size: 30px;
    position: relative;
    top: 50%;
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
    border-radius: 15px;
  }

.hangeulRev{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hangeulTest{
    color: black;
    margin-left: 10px;
    background: grey;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    text-decoration: none;
}

.hangeulTest:hover{
    background-color: azure;
    cursor: pointer;
}

.hide{
    display: none;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,1); /* Black background with opacity */
    color: white;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  }
  #fail{
    margin:auto;
    margin-left: 50%;
  }
